.DS_Store

# ESP-IDF
firmware/build/
firmware/managed_components/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/dependencies.lock

# SwiftPM
host/.build/
host/.swiftpm/

nohup.out
*.log
firmware/build_s3/
firmware/sdkconfig.s3
firmware/sdkconfig.s3.old
